.gray-bg
  section.main__price-form-wrap
    .box.d-flex.flex-wrap
      h2.title.text-gradient УЗНАЙТЕ  СТОИМОСТЬ  ПРЯМО СЕЙЧАС!
      .main__price-contacts
        .top-block.d-flex.flex-wrap.ai-center.justify-center
          p.text-gradient.w-100 Наши контакты
          .footer__data-info-item.d-flex.ai-center
            img(src="img/phone-ico.png" alt="ico")
            .footer__data-info-text.d-flex.flex-column
              a(href="tel:+74993981114") +7 (499) 398-11-14
              a(href="tel:+79264220615") +7 (926) 422-06-15
              a(href="tel:+79266582922") +7 (926) 658-29-22
          .footer__data-info-item.d-flex.ai-center
            img(src="img/mail-ico.png" alt="ico")
            .footer__data-info-text.d-flex.flex-column
              a(href="mailto:mail@hoffen.ru") mail@hoffen.ru
        .bottom-block.d-flex.flex-wrap.ai-center.justify-center
          a(href="/" class="link-btn-outer")
            span.outer-bg 
              span.text-gradient Способы оплаты
          a(href="/" class="link-btn-outer")
            span.outer-bg 
              span.text-gradient Сертификаты
          a(href="/" class="link-btn-outer")
            span.outer-bg 
              span.text-gradient Условия доставки
      .main__price-form
        form(action="" method="" class="price-form")
          .form-bg
          .form-content.d-flex.flex-column
            p.text-gradient Оставьте Заявку
            .gradient-input
              input(type="text" name="DATA[NAME]" placeholder="Ваше имя")
            .gradient-input
              input(type="text" name="DATA[EMAIL]" placeholder="Ваш email")
            .gradient-textarea
              textarea(name="DATA[COMMENT]" placeholder="Сообщение")
            button(type="submit" class="form-btn") Отправить
footer.footer
  .box
    .footer__body.d-flex
      .footer__map.d-flex.flex-column
        .footer__map-header 
          span.text-gradient Мы на карте
        .footer__map-bg
        img(src="img/map.jpg" alt="Map")
        a(href="" class="link-btn-gradient d-flex ai-center justify-center") Просмотр
      .footer__data.d-flex.flex-column
        .footer__data-info.d-flex.flex-wrap
          .footer__data-info-item.d-flex.ai-center
            img(src="img/phone-ico.png" alt="ico")
            .footer__data-info-text.d-flex.flex-column
              a(href="tel:+74993981114") +7 (499) 398-11-14
              a(href="tel:+79264220615") +7 (926) 422-06-15
              a(href="tel:+79266582922") +7 (926) 658-29-22
          .footer__data-info-item.d-flex.ai-center
            img(src="img/mail-ico.png" alt="ico")
            .footer__data-info-text.d-flex.flex-column
              a(href="mailto:mail@hoffen.ru") mail@hoffen.ru
          .footer__data-info-item.d-flex.ai-center
            img(src="img/map-ico.png" alt="ico")
            .footer__data-info-text.d-flex.flex-column
              span г.Москва, ул.Авиационная д.69
          .footer__data-info-item.d-flex.ai-center
            img(src="img/data-ico.png" alt="ico")
            .footer__data-info-text.d-flex.flex-column
              span ОГРНИП 313761231900060
              span ИНН 500909454301
        ul.footer__data-links.simple-li.d-flex.flex-wrap
          li.footer__data-li
            a(href="") Подоконники
          li.footer__data-li
            a(href="") Жалюзи
          li.footer__data-li
            a(href="") Ремонт окон
          li.footer__data-li
            a(href="") Столешницы
          li.footer__data-li
            a(href="") Отливы
          li.footer__data-li
            a(href="") Дополнительно
      .footer__logo
        a(href="/")
          img(src="img/logo.png" alt="Logo")

