extends blocks/_layout
append content
  main.main.main-content
    .box.d-flex
      nav.main-left-nav.d-flex.flex-column
        p.left-nav-title.text-gradient.d-flex Подоконники
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Подоконники Werzalit
          li 
            a(href="") Подоконники Danke
          li 
            a(href="") Подоконники ПВХ Россия
          li 
            a(href="") Подоконники из камня
          li 
            a(href="") Деревянные подоконники
          li 
            a(href="") Накладка на подоконник
        p.left-nav-title.text-gradient.d-flex Столешницы
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Столешницы из искусственного камня
        p.left-nav-title.text-gradient.d-flex Отливы
          ul.left-nav-list.d-flex.flex-column
            li 
              a(href="") Алюминиевые
            li 
              a(href="") Оцинкованные
            li 
              a(href="") Монтаж оконных отливов
      .main-body.d-flex.flex-column
        h2.title.text-gradient Акции и скидки от Hoffen
        section.action-contacts.d-flex
          img(src="" alt="")
          .action-contacts-text.d-flex.flex-column
            p Звоните по указанным на сайте телефонам и Вы будете в курсе всех акций нашей компании, узнаете про все возможные скидки и бонусы.
            .footer__data-info-item.d-flex.ai-center
              img(src="img/phone-ico.png" alt="ico")
              .footer__data-info-text.d-flex.flex-column
                a(href="tel:+74993981114") +7 (499) 398-11-14
                a(href="tel:+79264220615") +7 (926) 422-06-15
                a(href="tel:+79266582922") +7 (926) 658-29-22
        section.action-sale
          .table.d-flex.flex-column
            .table-head.d-flex.ai-center.justify-center  Распродажа подоконников
            .table-header
              .table-row.d-flex
                .table-cell.small №
                .table-cell.middle Наименование цвета
                .table-cell.middle Индекс цвета
                .table-cell.middle Ширина отрезка, мм
                .table-cell.middle Длина отрезка, мм
                .table-cell.middle Цена отрезка, руб.
            .table-body.d-flex.flex-column
              .table-row.d-flex
                .table-cell.small 1
                .table-cell.middle белоснежный
                .table-cell.middle 400
                .table-cell.middle 100
                .table-cell.middle 2200
                .table-cell.middle 500
              .table-row.d-flex
                .table-cell.small 2
                .table-cell.middle белоснежный
                .table-cell.middle 400
                .table-cell.middle 100
                .table-cell.middle 2200
                .table-cell.middle 500
              .table-row.d-flex
                .table-cell.small 3
                .table-cell.middle белоснежный
                .table-cell.middle 400
                .table-cell.middle 100
                .table-cell.middle 2200
                .table-cell.middle 500
          section.action-list.d-flex.flex-column
            .action-item.d-flex.hover-box
              .hover-box-hover
              .action-item-wrapper.d-flex
                .action-item-img
                  img(src="" alt="")
                .action-item-content.d-flex.flex-column
                  p.action-title.text-gradient.d-flex Бесплатный замер
                  span.action-date 04.02.2020 в 14:17
                  .action-description Бесплатный замер при заключении договора
                  button(type="button" class="colorful-btn d-flex ai-center justify-center") 
                    span Связаться с нами
            .action-item.d-flex.hover-box
              .hover-box-hover
              .action-item-wrapper.d-flex
                .action-item-img
                  img(src="" alt="")
                .action-item-content.d-flex.flex-column
                  p.action-title.text-gradient.d-flex Бесплатный замер
                  span.action-date 04.02.2020 в 14:17
                  .action-description Бесплатный замер при заключении договора
                  button(type="button" class="colorful-btn d-flex ai-center justify-center")
                    span Связаться с нами
            .action-item.d-flex.hover-box
              .hover-box-hover
              .action-item-wrapper.d-flex
                .action-item-img
                  img(src="" alt="")
                .action-item-content.d-flex.flex-column
                  p.action-title.text-gradient.d-flex Бесплатный замер
                  span.action-date 04.02.2020 в 14:17
                  .action-description Бесплатный замер при заключении договора
                  button(type="button" class="colorful-btn d-flex ai-center justify-center") 
                    span Связаться с нами