extends blocks/_layout
append content
  main.main.main-content
    .box.d-flex
      nav.main-left-nav.d-flex.flex-column
        p.left-nav-title.text-gradient.d-flex Подоконники
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Подоконники Werzalit
          li 
            a(href="") Подоконники Danke
          li 
            a(href="") Подоконники ПВХ Россия
          li 
            a(href="") Подоконники из камня
          li 
            a(href="") Деревянные подоконники
          li 
            a(href="") Накладка на подоконник
        p.left-nav-title.text-gradient.d-flex Столешницы
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Столешницы из искусственного камня
        p.left-nav-title.text-gradient.d-flex Отливы
          ul.left-nav-list.d-flex.flex-column
            li 
              a(href="") Алюминиевые
            li 
              a(href="") Оцинкованные
            li 
              a(href="") Монтаж оконных отливов
      .main-body.d-flex.flex-column
        .mobile-left-nav-btn.d-flex.ai-center.justify-center Open menu
        h2.title.text-gradient Контакты
        section.contacts.d-flex.flex-column
          p.contacts-text Визит просьба согласовывать заранее, в противном случае служба безопасности владельца здания может вас не пропустить.
          .contacts-wrapper.d-flex.flex-wrap
            .contacts-item.d-flex.ai-center
              img(src="", alt="")
              .contacts-content.d-flex.flex-column
                a(href="") +7 (499) 398-11-14
                a(href="") +7 (926) 422-06-15
                a(href="") +7 (926) 658-29-22
            .contacts-item.d-flex.ai-center
              img(src="", alt="")
              .contacts-content.d-flex.flex-column
                span г.Москва, ул.Авиационная д.69
            .contacts-item.d-flex.ai-center
              img(src="", alt="")
              .contacts-content.d-flex.flex-column
                span с 9 ч. до 20 ч., без выходных
            .contacts-item.d-flex.ai-center
              img(src="", alt="")
              .contacts-content.d-flex.flex-column
                a(href="") mail@gmail.com
            .contacts-item.d-flex.ai-center
              img(src="", alt="")
              .contacts-content.d-flex.flex-column
                span ОГРНИП 313761231900060
                span ИНН 500909454301
            .contacts-item.d-flex.ai-center
              img(src="", alt="")
              .contacts-content.d-flex.flex-column
                span Пункт выдачи товара: Мытищинский район, д.Челобитьево,д.66Б
          .contacts-map
            .contacts-map-head.d-flex.ai-center.justify-center
              span.text-gradient Мы на карте
            .contacts-map-bg
            .contacts-map-wrap
              img(src="", alt="")
            a(href="/" class="link-btn-gradient d-flex ai-center justify-center") Просмотр

