extends blocks/_layout
append content
  main.main.main-content
    .box.d-flex
      nav.main-left-nav.d-flex.flex-column
        p.left-nav-title.text-gradient.d-flex Подоконники
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Подоконники Werzalit
          li 
            a(href="") Подоконники Danke
          li 
            a(href="") Подоконники ПВХ Россия
          li 
            a(href="") Подоконники из камня
          li 
            a(href="") Деревянные подоконники
          li 
            a(href="") Накладка на подоконник
        p.left-nav-title.text-gradient.d-flex Столешницы
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Столешницы из искусственного камня
        p.left-nav-title.text-gradient.d-flex Отливы
          ul.left-nav-list.d-flex.flex-column
            li 
              a(href="") Алюминиевые
            li 
              a(href="") Оцинкованные
            li 
              a(href="") Монтаж оконных отливов
      .main-body.d-flex.flex-column
        h2.title.text-gradient Галерея
        section.gallery.d-flex.flex-wrap
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский
          .gallery-item
            .gallery-item-hover.d-flex.ai-center.justify-center
              a(href="" class="d-flex ai-center justify-center") Просмотр
            .gallery-content.d-flex.flex-column
              img(src="", alt="")
              p Подоконник Werzalit (Верзалит), ЮЗАО, поселение Московский

