extends blocks/_layout
append content
	main.main
		.box.flex-column
			section.main__welcome.d-flex.flex-column.w-100
				h2.title.text-gradient.d-flex Добро пожаловать
				p На оконном рынке фирма «Hoffen» известна уже более 10 лет. За столько лет своего существования успела завоевать благодарность 
					| и доверие огромнейшего количества покупателей нашей страны. Опытные и высококвалифицированные специалисты выполнят любые задачи 
					| на самом высшем уровне и в самые краткие сроки.
				.main__welcome-services.d-flex.space-between
					.welcome-services-info
						h3.title.text-gradient Мы предлагаем услуги по установке и монтажу:
						ul.check.d-flex.flex-column
							li Подоконников;
							li Откосов;
							li Жалюзи;
							li Москитных сеток для окон и дверей;
							li Рольставней для окон;
							li Оцинкованных и алюминиевых отливов;
							li А также выполним террасный настил.
					.welcome-services-img
						img(src="img/img-1.jpg" alt="")
			section.main__choose.d-flex.ai-center.justify-center.w-100
				.main__choose-outer.d-flex.ai-center.justify-center
					a(href="/" class="choose-item d-flex ai-center")
						.choose-item_guide
						.choose-item_wrap.d-flex.ai-center
							.choose-item_left.d-flex.flex-column
								p.text-gradient.choose-title.d-flex Искусственный камень
								p.choose-text от 
									span 2850 
									| рублей за п.м.
							.choose-item_right.d-flex.ai-center.justify-center
								img(src="img/stote-ico.png", alt="Stote")
					a(href="/" class="choose-item d-flex ai-center")
						.choose-item_guide
						.choose-item_wrap.d-flex.ai-center
							.choose-item_left.d-flex.flex-column
								p.text-gradient.choose-title.d-flex Искусственный камень
								p.choose-text от 
									span 2850 
									| рублей за п.м.
							.choose-item_right.d-flex.ai-center.justify-center
								img(src="img/stote-ico.png", alt="Stote")
					a(href="/" class="choose-item d-flex ai-center")
						.choose-item_guide
						.choose-item_wrap.d-flex.ai-center
							.choose-item_left.d-flex.flex-column
								p.text-gradient.choose-title.d-flex Искусственный камень
								p.choose-text от 
									span 2850 
									| рублей за п.м.
							.choose-item_right.d-flex.ai-center.justify-center
								img(src="img/stote-ico.png", alt="Stote")
					a(href="/" class="choose-item d-flex ai-center")
						.choose-item_guide
						.choose-item_wrap.d-flex.ai-center
							.choose-item_left.d-flex.flex-column
								p.text-gradient.choose-title.d-flex Искусственный камень
								p.choose-text от 
									span 2850 
									| рублей за п.м.
							.choose-item_right.d-flex.ai-center.justify-center
								img(src="img/stote-ico.png", alt="Stote")
					a(href="/" class="choose-item d-flex ai-center")
						.choose-item_guide
						.choose-item_wrap.d-flex.ai-center
							.choose-item_left.d-flex.flex-column
								p.text-gradient.choose-title.d-flex Искусственный камень
								p.choose-text от 
									span 2850 
									| рублей за п.м.
							.choose-item_right.d-flex.ai-center.justify-center
								img(src="img/stote-ico.png", alt="Stote")
					a(href="/" class="choose-item d-flex ai-center")
						.choose-item_guide
						.choose-item_wrap.d-flex.ai-center
							.choose-item_left.d-flex.flex-column
								p.text-gradient.choose-title.d-flex Искусственный камень
								p.choose-text от 
									span 2850 
									| рублей за п.м.
							.choose-item_right.d-flex.ai-center.justify-center
								img(src="img/stote-ico.png", alt="Stote")
					.main__choose-inner.d-flex.ai-center.justify-center
						.main__choose-core.d-flex.justify-center.ai-start
							.d-flex.flex-column
								span.ask.text-gradient ?
								span.text.text-gradient Из чего <br/> выбрать
		.gray-bg
			section.main__price-form-wrap
				.box.d-flex.flex-wrap
					h2.title.text-gradient УЗНАЙТЕ  СТОИМОСТЬ  ПРЯМО СЕЙЧАС!
					.main__price-contacts
						.top-block.d-flex.flex-wrap.ai-center.justify-center
							p.text-gradient.w-100 Наши контакты
							.footer__data-info-item.d-flex.ai-center
								img(src="img/phone-ico.png" alt="ico")
								.footer__data-info-text.d-flex.flex-column
									a(href="tel:+74993981114") +7 (499) 398-11-14
									a(href="tel:+79264220615") +7 (926) 422-06-15
									a(href="tel:+79266582922") +7 (926) 658-29-22
							.footer__data-info-item.d-flex.ai-center
								img(src="img/mail-ico.png" alt="ico")
								.footer__data-info-text.d-flex.flex-column
									a(href="mailto:mail@hoffen.ru") mail@hoffen.ru
						.bottom-block.d-flex.flex-wrap.ai-center.justify-center
							a(href="/" class="link-btn-outer")
								span.outer-bg 
									span.text-gradient Способы оплаты
							a(href="/" class="link-btn-outer")
								span.outer-bg 
									span.text-gradient Сертификаты
							a(href="/" class="link-btn-outer")
								span.outer-bg 
									span.text-gradient Условия доставки
					.main__price-form
						form(action="" method="" class="price-form")
							.form-bg
							.form-content.d-flex.flex-column
								p.text-gradient Оставьте Заявку
								.gradient-input
									input(type="text" name="DATA[NAME]" placeholder="Ваше имя")
								.gradient-input
									input(type="text" name="DATA[EMAIL]" placeholder="Ваш email")
								.gradient-textarea
									textarea(name="DATA[COMMENT]" placeholder="Сообщение")
								button(type="submit" class="form-btn") Отправить
		section.main__advantage
			.box.d-flex.flex-column
				h2.title.text-gradient УЗНАЙТЕ  СТОИМОСТЬ  ПРЯМО СЕЙЧАС!
				.main__advantage-wrap.d-flex.flex-wrap
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
					.advantage-item.d-flex.flex-column
						.advantage-item__image
							img(src="", alt="")
						p.advantage-title ассортимент
						p.advantage-text разнообразный ассортимент предлагаемых моделей по материалам изготовления
		section.main__completed
			.box.d-flex.flex-column
				h2.title.text-gradient Выполненные работы
				.completed-carousel#completed-carousel-js
					.completed-item
						img(src="img/slider-1.png", alt="")
						.completed-item_hover.d-flex.ai-center.justify-center
							a(href="/" class="d-flex ai-center justify-center") Просмотр
					.completed-item
						img(src="img/slider-2.png", alt="")
						.completed-item_hover.d-flex.ai-center.justify-center
							a(href="/" class="d-flex ai-center justify-center") Просмотр
					.completed-item
						img(src="img/slider-3.png", alt="")
						.completed-item_hover.d-flex.ai-center.justify-center
							a(href="/" class="d-flex ai-center justify-center") Просмотр
					.completed-item
						img(src="img/slider-4.png", alt="")
						.completed-item_hover.d-flex.ai-center.justify-center
							a(href="/" class="d-flex ai-center justify-center") Просмотр
					.completed-item
						img(src="img/slider-5.png", alt="")
						.completed-item_hover.d-flex.ai-center.justify-center
							a(href="/" class="d-flex ai-center justify-center") Просмотр
					.completed-item
						img(src="img/slider-3.png", alt="")
						.completed-item_hover.d-flex.ai-center.justify-center
							a(href="/" class="d-flex ai-center justify-center") Просмотр
				img(src="img/left-arrow.png", alt="" class="completed-prev-arrow")
				img(src="img/right-arrow.png", alt="" class="completed-next-arrow")
		section.main__demands
			.box.d-flex.flex-column
					h2.title.text-gradient Какие требования предъявляются к подоконникам
					p На оконном рынке фирма «Hoffen» известна уже более 10 лет. За столько лет своего существования успела завоевать 
						| благодарность и доверие огромнейшего количества покупателей нашей страны. Опытные и высококвалифицированные 
						| специалисты выполнят любые задачи на самом высшем уровне и в самые краткие сроки.
					h3.title.text-gradient.d.flex Любой подоконник должен быть:
					.main__demands-info.d-flex
						ul.check.d-flex.flex-column
							li Устойчивым, способным выдержать достаточно серьезную нагрузку: на него могут стать ногами, поставить 
								| множество цветочных ваз, просто облокотиться, при этом изделие не должно прогибаться или проминаться.
							li Тепло- и влагостойким. На поверхность нередко попадает вода при поливе комнатных растений, нередки случаи, когда оконное 
								| стекло «плачет» и капли воды также стекают на подоконник, поэтому поверхность не должна бояться влаги. 
								| То же самое с перепадами температуры: случайно поставленная на конструкцию чашка горячего кофе или чая не 
								| должна повредить поверхность или оставить на ней некрасивый круглый след.
							li Эстетически привлекательным. Связка окно-подоконник должна вписываться в интерьер помещения. Для этого необходимо 
								| разнообразие не только цветов, но и фактур поверхности конструкции.
							li С комфортными для использования поверхностю и конфигурацией. Она должна быть приятной на ощупь, хорошо очищаться, не 
								| впитывать грязь или различные жидкости. Также важны ширина выступа над батареями, закругленность углов, другие конструктивные особенности.
						.demands-image.d-flex.flex-column
							img(src="img/img-2.png", alt="")
							button(type="button" class="form-btn") Связаться с нами
					h3.title.text-gradient.d.flex Что такое Lorem Ipsum?
					p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" 
						| для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и 
						| форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять 
						| веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами 
						| Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
		section.main__reviews
			.box.d-flex.flex-column
				h2.title.text-gradient Отзывы клиентов
				.main__reviews-wrap.d-flex
					.reviews-for.d-flex.flex-column
						.review-item.d-flex.hover-box
							a(href="/" class="review-message d-flex ai-center justify-center") 123
							.hover-box-hover
							.review-item_img.d-flex.ai-start.justify-center
								img(src="img/photo-1.png", alt="")
							.review-item_content.d-flex.flex-column
								.review-item_header.d-flex.flex-column
									.review-item_header-top.d-flex.ai-center
										p.review-name Виктория Александровна
										.review-rating 1 2 3 4 5
									.review-item_header-bottom.d-flex.ai-center
										p.review-date 04.02.2017 в 14:17
										p.review-location Москва
								.review-item_body
									p Спасибо компании Хоффен.Очень повезло,что наткнулась в интернете на эту компанию.Сделали ремонт подоконников за 
										| один день.Приехал мастер и наклеил новые ремонтные накладки на старые подоконники.И в одночасье подоконники стали новыми.
						.review-item.d-flex.hover-box
							a(href="/" class="review-message d-flex ai-center justify-center") 456
							.hover-box-hover
							.review-item_img.d-flex.ai-start
								img(src="", alt="")
							.review-item_content.d-flex.flex-column
								.review-item_header.d-flex.flex-column
									.review-item_header-top.d-flex.ai-center
										p.review-name Виктория Александровна
										.review-rating 1 2 3 4 5
									.review-item_header-bottom.d-flex.ai-center
										p.review-date 04.02.2017 в 14:17
										p.review-location Москва
								.review-item_body
									p Спасибо компании Хоффен.Очень повезло,что наткнулась в интернете на эту компанию.Сделали ремонт подоконников за 
										| один день.Приехал мастер и наклеил новые ремонтные накладки на старые подоконники.И в одночасье подоконники стали новыми.
						.review-item.d-flex.hover-box
							a(href="/" class="review-message d-flex ai-center justify-center") 789
							.hover-box-hover
							.review-item_img.d-flex.ai-start
								img(src="", alt="")
							.review-item_content.d-flex.flex-column
								.review-item_header.d-flex.flex-column
									.review-item_header-top.d-flex.ai-center
										p.review-name Виктория Александровна
										.review-rating 1 2 3 4 5
									.review-item_header-bottom.d-flex.ai-center
										p.review-date 04.02.2017 в 14:17
										p.review-location Москва
								.review-item_body
									p Спасибо компании Хоффен.Очень повезло,что наткнулась в интернете на эту компанию.Сделали ремонт подоконников за 
										| один день.Приехал мастер и наклеил новые ремонтные накладки на старые подоконники.И в одночасье подоконники стали новыми.
					.reviews-nav.d-flex.flex-column
						.review-nav_item.d-flex.ai-center.justify-center
							img(src="img/photo-1.png", alt="")
							.review-nav_content.d-flex.flex-column
								p.review-name Виктория Александровна
								p.review-date 04.02.2017 в 14:17
						.review-nav_item.d-flex.ai-center.justify-center
							img(src="img/photo-1.png", alt="")
							.review-nav_content.d-flex.flex-column
								p.review-name Виктория Александровна
								p.review-date 04.02.2017 в 14:17
						.review-nav_item.d-flex.ai-center.justify-center
							img(src="img/photo-1.png", alt="")
							.review-nav_content.d-flex.flex-column
								p.review-name Виктория Александровна
								p.review-date 04.02.2017 в 14:17
						a(href="/" class="all-reviews link-btn-outer")
							span.outer-bg
								span.text-gradient Все отзывы