extends blocks/_layout
append content
  main.main.main-content
    .box.d-flex
      nav.main-left-nav.d-flex.flex-column
        p.left-nav-title.text-gradient.d-flex Подоконники
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Подоконники Werzalit
          li 
            a(href="") Подоконники Danke
          li 
            a(href="") Подоконники ПВХ Россия
          li 
            a(href="") Подоконники из камня
          li 
            a(href="") Деревянные подоконники
          li 
            a(href="") Накладка на подоконник
        p.left-nav-title.text-gradient.d-flex Столешницы
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Столешницы из искусственного камня
        p.left-nav-title.text-gradient.d-flex Отливы
          ul.left-nav-list.d-flex.flex-column
            li 
              a(href="") Алюминиевые
            li 
              a(href="") Оцинкованные
            li 
              a(href="") Монтаж оконных отливов
      .main-body.d-flex.flex-column
        .mobile-left-nav-btn.d-flex.ai-center.justify-center Open menu
        h2.title.text-gradient Новосоти
        section.news
          .news-item.hover-box
            .hover-box-hover
            .news-wrapper.d-flex
              img(src="", alt="")
              .news-content.d-flex.flex-column
                .rating 1 2 3 4 5
                p.news-title.text-gradient.d-flex Lorem Ipsum - это текст-"рыба", часто используемый в печати
                .news-info.d-flex
                  p.news-date 04.02.2017 в 14:17
                  p.news-time 2мин
                  p.news-views 57
                  p.news-comments 10
                .news-text
                  p Спасибо компании Хоффен.Очень повезло,что наткнулась в интернете на эту компанию.Сделали ремонт подоконников за один день.
                    | Приехал мастер и наклеил новые ремонтные накладки на старые подоконники.И в одночасье подоконники стали новыми. Приехал мастер и 
                    | наклеил новые ремонтные накладки на старые подоконники.
                a(href="/" class="link-btn-outer")
                  span.outer-bg
                    span.text-gradient Читать далее
          .news-item.hover-box
            .hover-box-hover
            .news-wrapper.d-flex
              img(src="", alt="")
              .news-content.d-flex.flex-column
                .rating 1 2 3 4 5
                p.news-title.text-gradient.d-flex Что такое Lorem Ipsum?
                .news-info.d-flex
                  p.news-date 04.02.2017 в 14:17
                  p.news-time 2мин
                  p.news-views 57
                  p.news-comments 10
                .news-text
                  p Спасибо компании Хоффен.Очень повезло,что наткнулась в интернете на эту компанию.Сделали ремонт подоконников за один день.
                    | Приехал мастер и наклеил новые ремонтные накладки на старые подоконники.И в одночасье подоконники стали новыми. Приехал мастер и 
                    | наклеил новые ремонтные накладки на старые подоконники.
                a(href="/" class="link-btn-outer")
                  span.outer-bg
                    span.text-gradient Читать далее
          .news-item.hover-box
            .hover-box-hover
            .news-wrapper.d-flex
              img(src="", alt="")
              .news-content.d-flex.flex-column
                .rating 1 2 3 4 5
                p.news-title.text-gradient.d-flex Что такое Lorem Ipsum?
                .news-info.d-flex
                  p.news-date 04.02.2017 в 14:17
                  p.news-time 2мин
                  p.news-views 57
                  p.news-comments 10
                .news-text
                  p Спасибо компании Хоффен.Очень повезло,что наткнулась в интернете на эту компанию.Сделали ремонт подоконников за один день.
                    | Приехал мастер и наклеил новые ремонтные накладки на старые подоконники.И в одночасье подоконники стали новыми. Приехал мастер и 
                    | наклеил новые ремонтные накладки на старые подоконники.
                a(href="/" class="link-btn-outer")
                  span.outer-bg
                    span.text-gradient Читать далее
