extends blocks/_layout
append content
  main.main.main-content
    .box.d-flex
      nav.main-left-nav.d-flex.flex-column
        p.left-nav-title.text-gradient.d-flex Подоконники
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Подоконники Werzalit
          li 
            a(href="") Подоконники Danke
          li 
            a(href="") Подоконники ПВХ Россия
          li 
            a(href="") Подоконники из камня
          li 
            a(href="") Деревянные подоконники
          li 
            a(href="") Накладка на подоконник
        p.left-nav-title.text-gradient.d-flex Столешницы
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Столешницы из искусственного камня
        p.left-nav-title.text-gradient.d-flex Отливы
          ul.left-nav-list.d-flex.flex-column
            li 
              a(href="") Алюминиевые
            li 
              a(href="") Оцинкованные
            li 
              a(href="") Монтаж оконных отливов
      .main-body.d-flex.flex-column
        .mobile-left-nav-btn.d-flex.ai-center.justify-center Open menu
        h2.title.text-gradient Способы оплаты
        section.payment.d-flex.flex-column
          p.payment-text Компания «Hoffen», для удобства клиентов, предлагает разные виды оплаты услуг , покупки подоконников и других видов продукции. 
            | Любой клиент может оплатить как минимум двумя способами.
          .payment-content.d-flex
            .payment-item.d-flex.flex-column
              .payment-bg
              p.payment-title Способ №1
              .payment-box.d-flex.flex-column.ai-center
                img(src="img/money-ico.png", alt="")
                p.payment-name.text-gradient Наличный расчет
                p.payment-description Наличный расчет производится непосредственно во время покупки или заказа услуги. Клиент 
                  | проверяет соответствие комплектации, качество и получает после оплаты чек или другие необходимые ему документы. 
                  | Более подробную информацию о наличном расчете вы можете получить по телефону +7(499) 398-11-14. Звоните и 
                  | менеджеры ответят на все ваши вопросы.
            .payment-item.d-flex.flex-column
              .payment-bg
              p.payment-title Способ №2
              .payment-box.d-flex.flex-column.ai-center
                img(src="img/card-ico.png", alt="")
                p.payment-name.text-gradient Оплата на карту Сбербанка
                p.payment-description Вы всегда можете провести оплату на карту Сбербанка. Все что для этого нужно, это воспользоваться одной из 
                  | услуг Сбербанка, Сбербанк-онлайн, банкомат Сбербанка или любое отделение Сбербанка. Любой из этих трех способов позволит вам 
                  | оплатить услуги компании «Hoffen». Для этого достаточно знать номер нашей карты 4276380058584298
          a(href="/" class="link-btn-gradient d-flex ai-center justify-center") Связаться с нами
