extends blocks/_layout
append content
  main.main.main-content
    .box.d-flex
      nav.main-left-nav.d-flex.flex-column
        p.left-nav-title.text-gradient.d-flex Подоконники
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Подоконники Werzalit
          li 
            a(href="") Подоконники Danke
          li 
            a(href="") Подоконники ПВХ Россия
          li 
            a(href="") Подоконники из камня
          li 
            a(href="") Деревянные подоконники
          li 
            a(href="") Накладка на подоконник
        p.left-nav-title.text-gradient.d-flex Столешницы
        ul.left-nav-list.d-flex.flex-column
          li 
            a(href="") Столешницы из искусственного камня
        p.left-nav-title.text-gradient.d-flex Отливы
          ul.left-nav-list.d-flex.flex-column
            li 
              a(href="") Алюминиевые
            li 
              a(href="") Оцинкованные
            li 
              a(href="") Монтаж оконных отливов
      .main-body.d-flex.flex-column
        .mobile-left-nav-btn.d-flex.ai-center.justify-center Open menu
        span.title.text-gradient Галерея
        section.c.d-flex.flex-wrap
          .product-info.d-flex
            .product-image
              img(src="img/profuct-1.png", alt="")
            .product-details.d-flex.flex-column
              span.product-name.d-flex.mr-auto.text-gradient Подоконники Werzalit
              span.product-color Цвет: Венге
              span.product-width Ширина: 250мм
              a(href="" class="link-btn-gradient d-flex ai-center justify-center mr-auto") Купить