extends blocks/_layout
append content
  main.main.main-content
    .box.d-flex
      .main-body.d-flex.flex-column
        .table.d-flex.flex-column
          .table-head.d-flex.ai-center.justify-center  Распродажа подоконников
          .table-header
            .table-row.d-flex
              .table-cell.small №
              .table-cell.middle Наименование цвета
              .table-cell.middle Индекс цвета
              .table-cell.middle Ширина отрезка, мм
              .table-cell.middle Длина отрезка, мм
              .table-cell.middle Цена отрезка, руб.
          .table-body.d-flex.flex-column
            .table-row.d-flex
              .table-cell.small 1
              .table-cell.middle белоснежный
              .table-cell.middle 400
              .table-cell.middle 100
              .table-cell.middle 2200
              .table-cell.middle 500
            .table-row.d-flex
              .table-cell.small 2
              .table-cell.middle белоснежный
              .table-cell.middle 400
              .table-cell.middle 100
              .table-cell.middle 2200
              .table-cell.middle 500
            .table-row.d-flex
              .table-cell.small 3
              .table-cell.middle белоснежный
              .table-cell.middle 400
              .table-cell.middle 100
              .table-cell.middle 2200
              .table-cell.middle 500
        .table.d-flex.flex-column
          .table-head.d-flex.ai-center.justify-center  Распродажа подоконников
          .table-subheader.d-flex.ai-center.justify-center Цены на цветные подоконники кроме белоснежных и белых
          .table-header
            .table-row.d-flex
              .table-cell.middle(style="width: 150px;") Подоконник
              .table-cell.middle(style="width: 145px;") Ширина мм.
              .table-cell.small-middle(style="width: 127px;") Ед. измер.
              .table-cell.small-middle(style="width: 110px;") Цена ₽
              .table-cell.big(style="width: 325px;") Монтаж простой
          .table-body.d-flex.flex-column
            .table-row.d-flex
              .table-cell.middle(style="width: 150px;") Подоконник
              .table-cell.middle(style="width: 145px;") 100
              .table-cell.small-middle(style="width: 127px;") м/п
              .table-cell.small-middle(style="width: 110px;") 1000
              .table-cell.big(style="width: 325px;") от 1000 рублей минус скидки до 10%
            .table-row.d-flex
              .table-cell.middle(style="width: 150px;") Подоконник
              .table-cell.middle(style="width: 145px;") 100
              .table-cell.small-middle(style="width: 127px;") м/п
              .table-cell.small-middle(style="width: 110px;") 1000
              .table-cell.big(style="width: 325px;") от 1000 рублей минус скидки до 10%
            .table-row.d-flex
              .table-cell.middle(style="width: 150px;") Подоконник
              .table-cell.middle(style="width: 145px;") 100
              .table-cell.small-middle(style="width: 127px;") м/п
              .table-cell.small-middle(style="width: 110px;") 1000
              .table-cell.big(style="width: 325px;") от 1000 рублей минус скидки до 10%