body
  margin: 0
  font-weight: normal
  font-size: 16px
  color: #000000
  font-family: 'Montserrat', sans-serif
  background-color: #ffffff
  position: relative
  transition: .2s ease-in
  & *
    margin: 0
    padding: 0
    border: 0
    outline: 0
    background-color: transparent
    box-sizing: border-box

a
  text-decoration: none
  transition: .3s
  color: inherit

ul
  list-style: none

img
  max-width: 100%

button
  cursor: pointer
  font-family: 'Montserrat', sans-serif

textarea,
input
  font-family: 'Montserrat', sans-serif

label
  cursor: pointer
  &:focus,
  &:hover,
  &:active
    outline: 0
    outline-offset: 0
    -webkit-tap-highlight-color: transparent
    user-select: none

section
  flex-grow: 1

select, input, textarea
  appearance: none
  border-radius: 0
  background-color: transparent

.content-wrapper
  min-height: 100vh
  display: flex
  flex-direction: column
  position: relative
  transition: .3s
  left: 0

.page-wrapper
  flex: 1 1

.footer-wrapper
  flex: 0 1

.box
  width: 100%
  display: flex
  max-width: 1200px
  padding: 0 15px
  margin: 0 auto
  position: relative

.flex-column
  flex-direction: column

.text-center
  text-align: center

.col-100
  flex: 0 0 100%
  max-width: 100%

.d-flex
  display: flex

.row
  min-width: 100%
  display: flex

.col-50
  flex: 0 0 50%
  max-width: 50%
  -webkit-box-flex: 0
.col-25
  flex: 0 0 25%
  max-width: 25%
  -webkit-box-flex: 0
.col-40
  flex: 0 0 40%
  max-width: 40%
  -webkit-box-flex: 0
.col-60
  flex: 0 0 60%
  max-width: 60%
  -webkit-box-flex: 0
.col-70
  flex: 0 0 70%
  max-width: 70%
  -webkit-box-flex: 0
.w-100
  width: 100%
.space-between
  justify-content: space-between

.justify-center
  justify-content: center

.ai-center
  align-items: center
.ai-end
  align-items: flex-end
.ai-start
  align-items: flex-start
.flex-wrap
  flex-wrap: wrap

.h-100
  height: 100%

.p-RL20
  padding: 0px 20px

.m0-auto
  margin: 0 auto

.text-gradient 
    background: $blue
    background: -webkit-gradient(linear, left top, right top, from($blue), to ($purple))
    background: -webkit-linear-gradient(left,$blue 0%,$purple 100%)
    background: -o-linear-gradient(left, $blue 0%, $purple 100%)
    background: linear-gradient(to right, $blue 0%, $purple 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blue, endColorstr=$purple, GradientType=1 )
    display: inline-block
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

h1.title
  font-size: 48px
  font-weight: 900
  font-stretch: normal
  font-style: normal
  line-height: 1.2
  letter-spacing: normal
  text-align: left
  color: #191919
  text-transform: uppercase
  margin-bottom: 36px
h2.title
  font-size: 36px
  font-weight: 900
  font-stretch: normal
  font-style: normal
  line-height: 1.2
  letter-spacing: normal
  text-align: left
  color: #191919
  text-transform: uppercase
  margin-bottom: 36px

.link-btn-gradient
  padding: 20px 63px
  box-shadow: 6.5px 11.3px 16px 0 rgba(0, 180, 255, 0.33)
  color: #ffffff
  background-image: linear-gradient(to right, $blue, $purple)
  font-size: 13px
  font-weight: bold
  font-stretch: normal
  font-style: normal
  line-height: 1.2
  letter-spacing: normal
  text-align: left
  color: #ffffff
  text-transform: uppercase
  border-radius: 50px
  transition: 0.5s
  background-size: 100% auto
  &:hover
    background-size: 200% auto
    background-position: right center
    box-shadow: 6.5px 2.3px 16px 0 rgba(0, 180, 255, 0.33)

ul.simple-li
  li
    position: relative
    padding-left: 40px
    &::before
      content: url('../img/list-item.png')
      top: 50%
      transform: translateY(-50%)
      position: absolute
      left: 0
ul.check
  li 
    margin-bottom: 10px
    font-family: 'Open Sans', sans-serif
    font-size: 15px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 1.2
    letter-spacing: normal
    text-align: left
    color: #191919
  
.gray-bg
  background-color: $grey

.form-btn
  width: 100%
  height: 50px
  border-radius: 50px
  background-image: linear-gradient(to right, $blue, $purple)
  font-size: 13px
  font-weight: bold
  font-stretch: normal
  font-style: normal
  line-height: 1.2
  letter-spacing: normal
  text-align: center
  text-transform: uppercase
  color: #ffffff
  transition: 0.5s
  background-size: 100% auto
  &:hover
    background-size: 200% auto
    background-position: right center
    box-shadow: 6.5px 2.3px 16px 0 rgba(0, 180, 255, 0.33)


.link-btn-outer
  position: relative
  // background-image: linear-gradient(to right, $blue, $purple)
  border-radius: 50px 
  width: 270px
  .outer-bg
    position: relative
    z-index: 2
    background: $grey
    width: 100%
    height: 100%
    font-size: 13px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 1.2
    letter-spacing: normal
    text-align: center
    border-radius: 50px
    transition: 0.5s
    background-size: 100% auto
    padding: 20px 63px
    display: inline-block
  &::after
    content: ''
    position: absolute
    top: -2px
    bottom: -2px
    left: -2px
    right: -2px
    border-radius: 50px
    z-index: 1
    background: linear-gradient(35deg,  $blue, $purple)
  &:hover
    background-size: 200% auto
    background-position: right center
    box-shadow: 6.5px 11.3px 16px 0 rgba(0, 180, 255, 0.33)
    color: #ffffff

p
  font-size: 'Open Sans', sans-serif
  font-size: 15px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.6
  letter-spacing: normal
  text-align: left
  color: #191919


::-webkit-scrollbar 
    width: 5px 
    height: 8px 
    background-color: transparent
    /* ползунок скроллбара */
::-webkit-scrollbar-thumb
  border-radius: 2.5px
  background-color: #e8e8e8
::-webkit-scrollbar-thumb:hover
    background-color: #9e9e9e

.hover-box
  position: relative
  cursor: pointer
  &:hover
    background-image: linear-gradient(to right, #2f66b9, #813ca4)
  &-hover
    position: absolute
    width: 95%
    height: 100%
    bottom: -7.5px
    left: 50%
    transform: translateX(-50%)
    z-index: -1
    opacity: 0.35
    border-radius: 30px
    background-image: linear-gradient(to right, #2f66b9, #813ca4)
    display: none
    &::before
      content: ''
      position: absolute
      width: 95%
      height: 100%
      bottom: -7.5px
      left: 50%
      transform: translateX(-50%)
      z-index: -1
      opacity: 0.25
      border-radius: 30px
      background-image: linear-gradient(to right, #2f66b9, #813ca4)
    &::after
      content: ''
      position: absolute
      width: 85%
      height: 100%
      bottom: -15px
      left: 50%
      transform: translateX(-50%)
      z-index: -1
      opacity: 0.15
      border-radius: 30px
      background-image: linear-gradient(to right, #2f66b9, #813ca4)
.main-content
  padding: 30px 0px 100px 0px
  &>.box
    min-height: 800px

.main-left-nav
  width: 270px
  height: 100%
  margin-right: 30px
  padding: 40px 30px
  border-radius: 30px
  box-shadow: 8.4px 4px 14.6px 1.4px rgba(0, 0, 0, 0.1)
  background-image: linear-gradient(to right, rgba(0,161,255, .15), rgba(126,0,255, .15))
  position: absolute
  left: 0
  top: 0
  & .left-nav-title
    margin-bottom: 24px
    font-size: 12px
    font-weight: 900
    font-stretch: normal
    font-style: normal
    line-height: 2
    letter-spacing: normal
    text-align: left
    text-transform: uppercase
    margin-right: auto
  & .left-nav-list
    padding-left: 20px
    margin-bottom: 40px
    & li
      position: relative
      padding-left: 10px
      margin-bottom: 15px
      & a
        font-size: 13px
        font-weight: bold
        font-stretch: normal
        font-style: normal
        line-height: 1.38
        letter-spacing: normal
        text-align: left
        color: #505050
        display: inline-block
        position: relative
      &::before
        content: '•'
        font-size: 44px
        color: #a0a0a0
        position: absolute
        left: -5px
        top: 6px
        line-height: 0
      &:hover
        & a
          background: $blue
          background: -webkit-gradient(linear, left top, right top, from($blue), to ($purple))
          background: -webkit-linear-gradient(left,$blue 0%,$purple 100%)
          background: -o-linear-gradient(left, $blue 0%, $purple 100%)
          background: linear-gradient(to right, $blue 0%, $purple 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blue, endColorstr=$purple, GradientType=1 )
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
        &::before
          color: $blue
.main-body
  margin-left: 300px
  padding-top: 20px
.table
  width: 100%
  &-head
    width: 100%
    background: linear-gradient(to right, $blue 0%, $purple 100%)
    height: 70px
    border-radius: 30px 30px 0px 0px
    font-size: 12px
    font-weight: 900
    font-stretch: normal
    font-style: normal
    line-height: 2
    letter-spacing: normal
    text-align: center
    color: #ffffff
    text-transform: uppercase
    margin-bottom: 3px
  &-header
    & .table-cell
      background-color: #505050
      font-size: 15px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.6
      letter-spacing: normal
      text-align: left
      color: #ffffff
  &-body
    & .table-row
      margin-bottom: 3px
      &:last-of-type
        margin-bottom: 0px
    & .table-cell
      background-color: #e8e8e8
      font-size: 15px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.6
      letter-spacing: normal
      text-align: center
      color: #505050
  &-cell
    margin-right: 3px
    padding: 17px 21px
    &:last-child
      margin-right: 0px
    &.small
      width: 50px
    &.middle
      width: 161px
    
.colorful-btn
  padding: 20px 40px
  font-size: 11px
  font-weight: bold
  font-stretch: normal
  font-style: normal
  line-height: 2.18
  letter-spacing: normal
  text-align: left
  color: #ffffff
  text-transform: uppercase
  background: linear-gradient(to right, $blue 0%, $purple 100%)
  margin: 0 auto
  border-radius: 50px
  box-shadow: 8.4px 10px 14.6px 1.4px rgba(0, 180, 255, 0.33)


.mobile-left-nav-btn
  display: none
  position: absolute
  width: 70px
  height: 70px
  -webkit-border-radius: 0px 50px 50px 0px
  border-radius: 0px 50px 50px 0px
  background: red
  background: linear-gradient(to right, $blue 0%, $purple 100%)
  box-shadow: 8.4px 10px 14.6px 1.4px rgba(0, 180, 255, 0.33)
  padding: 7.5px
  color: #ffffff