.main
  &__welcome
    margin-top: 80px
    & .title
      margin-right: auto
    & p
      font-family: 'Open Sans', sans-serif
      font-size: 15px
      font-weight: 300
      font-stretch: normal
      font-style: italic
      line-height: 1.6
      letter-spacing: normal
      text-align: left
      margin-bottom: 45px
    & .welcome-services-info
      margin-right: 20px
      & .title
        margin-bottom: 35px
  &__price-form-wrap
    padding: 45px 0px 110px 0px
    & .title
      width: 100%
      text-align: center
      margin-bottom: 42px
    & .main__price-contacts
      max-width: 570px
      margin-right: 30px
      width: 100%
      & .top-block
        margin-bottom: 122px
        p
          text-align: center
          margin-bottom: 32px
          font-size: 18px
          font-weight: 900
          font-stretch: normal
          font-style: normal
          line-height: 1.2
          letter-spacing: normal
          text-align: center
          color: #191919
        a
          color: #505050
          &:hover
            color: $blue
      & .bottom-block
        & .link-btn-outer
          margin-bottom: 30px
          &:first-child
            margin-right: 30px
    & .price-form
      position: relative
      &::after
        content: ''
        position: absolute
        right: -20px
        bottom: -20px
        border-radius: 30px
        width: 100%
        height: 100%
        background-image: linear-gradient(to right, $blue, $purple)
        z-index: 10
    & .form-bg
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      z-index: 10
      &::before
        content: ''
        position: absolute
        right: -40px
        bottom: -40px
        border-radius: 30px
        width: 100%
        height: 100%
        background-image: linear-gradient(to right, $blue, $purple)
        opacity: .5
      &::after
        content: ''
        position: absolute
        right: -60px
        bottom: -60px
        border-radius: 30px
        width: 100%
        height: 100%
        background-image: linear-gradient(to right, $blue, $purple)
        opacity: .25
    & .form-content
      position: relative
      z-index: 100
      border-radius: 30px
      background-color: #ffffff
      padding: 10px 70px 45px 70px
      width: 470px
      height: 446px
      p
        font-size: 18px
        font-weight: 900
        font-stretch: normal
        font-style: normal
        line-height: 2.67
        letter-spacing: normal
        text-align: center
        color: #191919
        margin-bottom: 18px
      .gradient-input
        width: 100%
        height: 50px
        border-radius: 50px
        margin-bottom: 20px
        position: relative
        &::after
          content: ''
          position: absolute
          top: -2px
          bottom: -2px
          left: -2px
          right: -2px
          background: $grey
          border-radius: 34px
          z-index: -1
        &.isFocus::after
          background: linear-gradient(35deg,  $blue, $purple)

      .gradient-textarea
        width: 100%
        height: 115px
        border-radius: 15px
        margin-bottom: 20px
        position: relative
        &::after
          content: ''
          position: absolute
          top: -2px
          bottom: -2px
          left: -2px
          right: -2px
          background: linear-gradient(35deg,  $blue, $purple)
          border-radius: 34px
          z-index: -1
          background: $grey
        &.isFocus::after
          background: linear-gradient(35deg,  $blue, $purple)
      input
        border-radius: 50px
        width: 100%
        height: 100%
        padding: 0px 20px
        font-family: 'Open Sans', sans-serif
        font-size: 13px
        font-weight: 300
        font-stretch: normal
        font-style: normal
        line-height: 1.2
        letter-spacing: normal
        text-align: left
        position: relative
        z-index: 100
        background: #ffffff
      textarea
        padding: 20px
        width: 100%
        height: 115px
        resize: none
        font-family: 'Open Sans', sans-serif
        font-size: 13px
        font-weight: 300
        font-stretch: normal
        font-style: normal
        line-height: 1.2
        letter-spacing: normal
        text-align: left
        position: relative
        z-index: 100
        background: #ffffff
        border-radius: 32px
  &__choose
    position: relative
    padding: 155px 0px
    &-outer
      width: 280px
      height: 280px
      border-radius: 50%
      border: solid 2px #e8e8e8
      padding: 19px
      position: relative
      & .choose-item
        position: absolute
        &_wrap
          width: 293px
          height: 102px
          background-color: #f8f8f8
          padding: 10px
          flex-shrink: 0
          border-radius: 10px 50px 50px 10px
          position: relative
          z-index: 100
          transition: all .2s ease-in-out
        &:hover
          .choose-item_wrap
            box-shadow: 0 0 10px 0px rgba(80,80,80, .5)
        &_left
          margin-right: 20px
          width: calc(100% - 102px)
        &_right
          width: 82px
          height: 82px
          border-radius: 50%
          background-color: #e8e8e8
        &_guide
          width: 58px
          height: 2px
          background-color: #e8e8e8
          position: absolute
          z-index: 10
          &::after
            content: ''
            position: absolute
            width: 11px
            height: 11px
            background-color: #e8e8e8
            border-radius: 50%
          &::before
            content: ''
            position: absolute
            width: 21px
            height: 21px
            background-color: #f8f8f8
            border-radius: 50%
        &:nth-of-type(1)
          left: calc(-100% - 15px)
          top: -65px
          & .choose-item_guide
            right: -32px
            top: 100px
            transform: rotate(45deg)
            &::after
              right: -5px
              top: -5px
            &::before
              right: -10px
              top: -10px
        &:nth-of-type(2)
          left: calc(-100% - 67px)
          top: 47px
          & .choose-item_guide
            right: -50px
            top: 85px
            transform: rotate(28deg)
            &::after
              right: -5px
              top: -5px
            &::before
              right: -10px
              top: -10px
        &:nth-of-type(3)
          left: calc(-100% - 53px)
          top: 169px
          & .choose-item_guide
            right: -56px
            top: 45px
            transform: rotate(0deg)
            &::after
              right: -5px
              top: -5px
            &::before
              right: -10px
              top: -10px
        &:nth-of-type(4)
          right: calc(-100% - 53px)
          top: 0
          & .choose-item_guide
            left: -45px
            top: 75px
            transform: rotate(-32deg)
            &::before
              left: -12px
              top: -10px
            &::after
              top: -5px
              left: -7px
          & .choose-item_wrap
            flex-direction: row-reverse
            border-radius: 50px 10px 10px 50px
            & .choose-item_left 
              margin-right: 0px
              margin-left: 20px
            & .choose-title
              text-align: left
              margin-left: initial
              margin-right: auto
            & .choose-text
              text-align: left
        &:nth-of-type(5)
          right: calc(-100% - 70px)
          top: 122px
          & .choose-item_guide
            left: -55px
            top: 50px
            transform: rotate(-15deg)
            &::before
              left: -12px
              top: -10px
            &::after
              top: -5px
              left: -7px
          & .choose-item_wrap
            flex-direction: row-reverse
            border-radius: 50px 10px 10px 50px
            & .choose-item_left 
              margin-right: 0px
              margin-left: 20px
            & .choose-title
              text-align: left
              margin-left: initial
              margin-right: auto
            & .choose-text
              text-align: left
        &:nth-of-type(6)
          right: calc(-100% - 15px)
          top: 244px
          & .choose-item_guide
            left: -50px
            top: 18px
            transform: rotate(40deg)
            &::before
              left: -12px
              top: -10px
            &::after
              top: -5px
              left: -7px
          & .choose-item_wrap
            flex-direction: row-reverse
            border-radius: 50px 10px 10px 50px
            & .choose-item_left 
              margin-right: 0px
              margin-left: 20px
            & .choose-title
              text-align: left
              margin-left: initial
              margin-right: auto
            & .choose-text
              text-align: left
        & .choose-title
          max-width: 130px
          font-size: 12px
          font-weight: 900
          font-stretch: normal
          font-style: normal
          line-height: 1.2
          letter-spacing: normal
          text-align: right
          margin-left: auto
          margin-bottom: 15px
        & .choose-text
          font-size: 11px
          font-weight: 900
          font-stretch: normal
          font-style: normal
          line-height: 1.2
          letter-spacing: normal
          text-align: right
          color: #505050
          & span
            color: $blue
      &::before
        content: ''
        position: absolute
        width: 100px
        height: 50px
        position: absolute
        background: #fff
        top: -5px
        left: 50%
        transform: translateX(-50%)
        border-radius: 100px
      &::after
        content: ''
        position: absolute
        width: 100px
        height: 50px
        position: absolute
        background: #fff
        bottom: -5px
        left: 50%
        transform: translateX(-50%)
        border-radius: 100px
    &-inner
      width: 243px
      height: 243px
      border-radius: 50%
      background: #f8f8f8
      position: relative
      z-index: 10
    &-core
      width: 209px
      height: 209px
      border-radius: 50%
      background: $grey
      div
        padding-top: 35px
        text-align: center
        font-stretch: normal
        font-style: normal
        line-height: 1.2
        letter-spacing: normal
        text-align: center
        color: #191919
        font-weight: 900
        & .ask
          font-size: 48px
        & .text
          font-size: 16px
          line-height: 1.5
          text-transform: uppercase
  &__advantage
    padding: 100px 0px
    & h2
      text-align: center
      margin-bottom: 0px
    &-wrap
      margin-top: 45px
    & .advantage-item
      width: 208px
      height: 315px
      border-radius: 30px
      box-shadow: 5.5px 9.5px 13px 0 rgba(0, 0, 0, 0.26)
      background-color: #e8e8e8
      margin-bottom: 32px
      margin-right: 32px
      &__image
        width: 100%
        height: 120px
        margin-bottom: 20px
        & img
          width: 100%
          height: 100%
          border-radius: 30px 30px 0px 0px
      & .advantage-title
        font-size: 14px
        font-weight: 900
        font-stretch: normal
        font-style: normal
        line-height: 1.2
        letter-spacing: normal
        text-align: center
        color: #505050
        text-transform: uppercase
        margin-bottom: 10px
        padding: 0px 10px
      & .advantage-text
        font-family: 'Open Sans', sans-serif
        font-size: 15px
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: 1.4
        letter-spacing: normal
        text-align: center
        color: #505050
        padding: 0px 10px
      &:nth-of-type(5n)
        margin-right: 0px
  &__completed
    margin-bottom: 100px
    & h2
      text-align: center
      margin-bottom: 50px
      position: relative
    & .completed-prev-arrow,
    & .completed-next-arrow
      position: absolute
      left: 20px
      top: calc(50% + 45px)
      transform: translateY(-50%)
      cursor: pointer
    & .completed-next-arrow
      right: 20px
      left: initial
    & .completed-item
      position: relative
      &:hover
        & .completed-item_hover
          opacity: 1
          transition: opacity .2s ease-in-out
      &_hover
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0
        transition: opacity .2s ease-in-out
        background-image: linear-gradient(to right, #00a2ff7a, #7e00ff75)
        & a
          width: 170px
          height: 50px
          color: #ffffff
          border: 1px solid #ffffff
          border-radius: 50px
          &:hover
            box-shadow: 0px 0px 10px 5px rgba(0, 180, 255, 0.33)
  &__demands
    padding-bottom: 100px
    & h2 + p
      margin-bottom: 45px
    & h3
      margin-bottom: 30px
      text-transform: uppercase
      margin-right: auto
    &-info
      margin-bottom: 45px
      ul.check
        max-width: 645px
        width: 100%
        margin-right: 30px
        li
          font-family: 'Open Sans', sans-serif
          font-size: 15px
          font-weight: normal
          font-stretch: normal
          font-style: normal
          line-height: 1.6
          letter-spacing: normal
          text-align: left
          color: #191919
      & .demands-image
        max-width: 470px
        width: 100%
        img
          margin-bottom: 30px
  &__reviews
    margin-bottom: 130px
    & h2
      text-align: center
      margin-bottom: 50px
    & .reviews-for
      max-width: 800px
      padding-right: 30px
      width: 100%
      height: 445px
      overflow: auto
    & .review-message
      position: absolute
      right: 20px
      top: 20px
    & .review-item
      width: 100%
      height: 196px
      border-radius: 30px
      box-shadow: 5.5px 9.5px 13px 0 rgba(0, 0, 0, 0.26)
      background-color: #e8e8e8
      margin-bottom: 30px
      position: relative
      cursor: pointer
      &_img
        width: 170px
        flex-shrink: 0
      &_content
        width: calc(100% - 170px)
        padding: 20px 20px
      &_header
        margin-bottom: 25px
        &-top
          margin-bottom: 10px
        & .review-name
          font-size: 11px
          font-weight: 900
          font-stretch: normal
          font-style: normal
          line-height: 1.2
          letter-spacing: normal
          text-align: left
          color: #505050
          margin-right: 20px
          text-transform: uppercase
          margin-bottom: 0px
        & .review-date,
        & .review-location
          font-size: 11px
          font-weight: 600
          font-stretch: normal
          font-style: normal
          line-height: 1.2
          letter-spacing: normal
          text-align: left
          color: #a0a0a0
          margin-right: 20px
      &_body
        font-family: 'Open Sans', sans-serif
        font-size: 14px
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: 1.6
        letter-spacing: normal
        text-align: left
        color: #505050    
      &:hover   
        & .review-item_body *,
        & .review-name,
        & .review-date,
        & .review-location
          color: #ffffff 
    & .reviews-nav
      padding-left: 65px
      & .all-reviews
        width: 100%
        & .outer-bg
          background: #ffffff
          text-transform: uppercase
      & .review-nav_item
        width: 100%
        height: 108px
        padding: 20px 30px
        border-radius: 30px
        box-shadow: 5.5px 9.5px 13px 0 rgba(0, 0, 0, 0.26)
        background-color: #e8e8e8
        margin-bottom: 20px
        cursor: pointer
        transition: all .2s ease-in-out
        & img
          width: 70px
          height: 70px
          border-radius: 50%
          object-fit: cover
          margin-right: 30px
        & .review-name
          font-size: 11px
          font-weight: 900
          font-stretch: normal
          font-style: normal
          line-height: 1.64
          letter-spacing: normal
          text-align: left
          color: #505050
          text-transform: uppercase
          margin-bottom: 0px
          transition: all .2s ease-in-out
        & .review-date
          font-size: 11px
          font-weight: 600
          font-stretch: normal
          font-style: normal
          line-height: 2.18
          letter-spacing: normal
          text-align: left
          color: #a0a0a0
          margin-bottom: 0px
          transition: all .2s ease-in-out
        &:hover,
        &.active
          background-image: linear-gradient(to right, #2f66b9, #813ca4)
          transition: all .2s ease-in-out
          & .review-name,
          & .review-date
            color: #ffffff
            transition: all .2s ease-in-out
